@import 'bootstrap';
@charset "utf-8";
@import 'animate';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

$base: #1f8dd6;

body {
  background: #1f8dd6;
}

.header {
  background: #1f8dd6;
  color: white;
}

.head {
  height: 600px;
  text-align: center;

  h1 {
    font-size: 5rem;
    padding-top: 200px;
    font-family: 'Raleway';
    font-weight: 400;
    margin: 0;
  }
}

.top-right {
  float: right;
  margin: 20px;
}

.domicily {
  float: left;
  font-family: Raleway;
  font-weight: 700;
  margin: 20px;
  margin-top: 0px;
  padding: 0;
  color: #fff;
}

.email-signup {
  // color: #555;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 300px;
}

#mc_embed_signup .mc-field-group input {
  border: 2px solid #fff;
  border-radius: 5px;
  background: none repeat scroll 0% 0% #1f8dd6;
}

#mc_embed_signup .button {
  background-color: #fff;
  -webkit-transition: all 0.4s; /* For Safari 3.1 to 6.0 */
  transition: all 0.4s;
  color: #1f8dd6;
  border: 2px solid #fff;
  width: 275px;
  margin-left: -5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
}

#mc_embed_signup .button:hover {
  background-color: #1f8dd6;
  border: 2px solid #fff;
  color: #fff;
}

#mc_embed_signup {
  clear:left; 
  width:300px;
}

#mc_embed_signup form {
  text-align: center !important;
}

.btn-default {
  background: #1f8dd6;
  color: white;
  border-color: white;
  border-width: 2px;
  font-weight: bold;
  -webkit-transition: all 0.4s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-default:hover {
  background: white;
  border-color: #fff;
  color: #1f8dd6;
}

.btn-contact {
  background: #1f8dd6;
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.4s; /* For Safari 3.1 to 6.0 */
  transition: all 0.4s;
  // margin-right: 30px;
}

#list-form {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

.contact-info-head {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border: 2px solid #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0;
  font-family: Raleway;
  width: 600px;
  padding: 15px;
  color: #fff;
}
.contact-info {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 600px;
  padding: 15px;
  color: #fff;
  a {
    color: white;
    font-weight: bold;
  }
}
.center {
  text-align: center;
  margin-top: 50px;
}

.login {
  margin-right: 15px;
}

.pricing {
  margin-bottom: 100px;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 300px;
  display: inline-block;

  h3 {
    border-bottom: 2px solid #fff;
    margin: 0px;
    padding: 10px 0px;
    color: #fff;
    text-align: center;
    .sub {
      font-size: 0.5em;
      color: rgba(255,255,255,0.7);
    }
  }

  .price {
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .start {
    margin: 15px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
  }

  li {
    text-decoration: none;
    color: white;
    border-top: 2px solid #fff;
    text-align: center;
    padding: 7px 0px;
  }
}

.pricing {
  margin-left: auto;
  margin-right: auto;
}

.p-tbl {
  text-align: center;
}

.btn-action {
  background: #fff;
  border: 2px solid #fff;
  color: $base;
  -webkit-transition: all 0.4s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 700;
}

.btn-action:hover {
  background: $base;
  color: #fff;
}

.p-m {
  font-size: 0.5em;
  color: rgba(255,255,255,0.8);
}

#lead-text {
  color: white !important;
}

.icon {
  color: white;
  font-size: 2.5em;
  -webkit-transition: all 0.4s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.active {
  color: #CBEAFF;
}

.features {
  padding-top: 100px;
  text-align: center;
}
