@import 'semantic-ui';
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
  
.head {
  height: 800px;
  text-align: center;

  h1 {
    font-size: 5rem;
    padding-top: 200px;
    font-family: 'Raleway';
    font-weight: 400;
    margin: 0;
    color: #555;
  }
}

.top-right {
  float: right;
  margin: 20px;
}

.domicily {
  float: left;
  font-family: Raleway;
  font-weight: 700;
  margin: 20px;
  margin-top: 0px;
  padding: 0;
  color: #564F8A;
}

.email-signup {
  color: #555;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 300px;
}

#mc_embed_signup .mc-field-group input {
  border: 2px solid #564F8A;
  border-radius: 5px;
}

#mc_embed_signup .button {
  background-color: #564F8A;
  -webkit-transition: background-color 0.4s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.4s;
}

#mc_embed_signup .button:hover {
  background-color: #867CD4;
}

#mc_embed_signup {
  clear:left; 
  width:300px;
}

#mc_embed_signup form {
  text-align: center !important;
}
