---
title: Domici.ly Contact
---
#contact
  %h1.contact-info-head
    Contactinformatie
  .contact-info
    %p
      Domici.ly is een merk van
      %a{ href: 'http://www.jaxons.nl'} JAXONS.

    %p.lead kvk: 58688781

    %p.lead btw: 85314022B01

    %p.lead Badhuisweg 1, 1506PA Zaandam

    %p.lead info@domici.ly

    %p.lead 0653216547

.center
  %a.btn.btn-default{ href: '/'}
    Terug
