#contact
  %h1.contact-info-head
    Contactinformatie
  .contact-info
    %p
      Domici.ly is een onderdeel van JAXONS.

    %p.lead kvk: 58688781

    %p.lead btw: 85314022B01

    %p.lead Badhuisweg 1, 1506PA Zaandam

    %p.lead info@domici.ly

    Wij zijn beperkt telefonisch beschikbaar
    %p.lead 0622618548

.center
  %a.btn.btn-default{ href: '/'}
    Terug
