.features
  %span.glyphicon.glyphicon-unchecked.icon{href: '#p1'}
  %span.glyphicon.glyphicon-unchecked.icon{href: '#p2'}
  %span.glyphicon.glyphicon-unchecked.icon{href: '#p3'}
  %span.glyphicon.glyphicon-unchecked.icon{href: '#p4'}
  %span.glyphicon.glyphicon-unchecked.icon{href: '#p5'}
  %span.glyphicon.glyphicon-unchecked.icon{href: '#p6'}
  %span.glyphicon.glyphicon-unchecked.icon{href: '#p7'}
  %span.glyphicon.glyphicon-unchecked.icon{href: '#p8'}


  
  %img#p1.pic{src: '/images/scoverzicht.png', class: 'img-responsive'}
  %img#p2.pic{src: '/images/scmeldingen.png', class: 'img-responsive'}
  %img#p3.pic{src: '/images/scmelding.png', class: 'img-responsive'}
  %img#p4.pic{src: '/images/deelnemers.png', class: 'img-responsive'}
  %img#p5.pic{src: '/images/agenda.png', class: 'img-responsive'}
  %img#p6.pic{src: '/images/afspraak.png', class: 'img-responsive'}
  %img#p7.pic{src: '/images/aanwezigheid.png', class: 'img-responsive'}
  %img#p8.pic{src: '/images/profiel.png', class: 'img-responsive'}
