.title
  %h1 Abonnementen

.col-md-6.p-tbl
  .pricing.free
    %h3
      Basis
      .sub Voor kleine verenigingen
    %h1.price
      Gratis
      .p-m
        altijd
    .start
      %a.btn.btn-action.btn-lg{href: 'http://app.domici.ly/users/sign_up'}
        Schrijf je nu in
    %ul.features
      %li 1-5 gebruikers
      %li Eigen subdomein (jouw-vereniging.domici.ly)
      %li Beperkte opslag (100MB)

.col-md-6.p-tbl
  .pricing.standard
    %h3
      Standaard
      .sub Voor iedereen
    %h1.price
      € 25
      .p-m
        per maand
    .start
      %a.btn.btn-action.btn-lg{href: 'http://app.domici.ly/users/sign_up'}
        Probeer gratis
    %ul.features
      %li tot 300 gebruikers
      %li Eigen subdomein (jouw-vereniging.domici.ly)
      %li 1GB opslag (uitbreidbaar)
      %li (in ontwikkeling) Homepage
      %li (in ontwikkeling) Groepen
      %li Support
