.title
  %h1 Abonnementen

.col-md-6.p-tbl
  .pricing.free
    %h3 
      Basis
      .sub Voor kleine verenigingen
    %h1.price Gratis
    .start
      %button.btn.btn-action.btn-lg
        Binnenkort
    %ul.features
      %li 1-5 gebruikers
      %li Eigen subdomein (jouw-vereniging.domici.ly)
      %li Beperkte opslag (100MB)

.col-md-6.p-tbl
  .pricing.standard
    %h3 
      Standaard
      .sub Voor iedereen
    %h1.price 
      € 25
      .p-m
        per maand
    .start
      %button.btn.btn-action.btn-lg
        Binnenkort
    %ul.features
      %li 6-300 gebruikers
      %li Eigen subdomein (jouw-vereniging.domici.ly)
      %li 1GB opslag (uitbreidbaar)
      %li (in ontwikkeling) Homepage
      %li (in ontwikkeling) Groepen
      %li Support
