---
title: Domici.ly
---
%nav.navbar
  .header
    .domicily
      %h1#logo Domici.ly
  %a.btn.btn-default.btn-lg.navbar-btn.navbar-right.login{ href: 'http://app.domici.ly/users/sign_in' }
    Log in

  %a.btn.btn-contact.btn-lg.navbar-btn.navbar-right{ href: '/contact' }
    Contact


  .top-right#sign-in-button

  .head
    %h1#lead-text
      Betere communicatie in jouw vereniging

    .email-signup#list-form
      / Begin MailChimp Signup Form
      #mc_embed_signup
        %form#mc-embedded-subscribe-form.validate{action: "http://jaxons.us3.list-manage.com/subscribe/post?u=e92d94da6f54f53f01adb5c5f&id=4e622e14de", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
          .mc-field-group
            / %label{for: "mce-EMAIL"} Emailadres
            %input#mce-EMAIL.required.email{name: "EMAIL", type: "email", value: "", placeholder: 'Email'}/
          #mce-responses.clear
            #mce-error-response.response{style: "display:none"}
            #mce-success-response.response{style: "display:none"}
          / real people should not fill this in and expect good things - do not remove this or risk form bot signups
          %div{style: "position: absolute; left: -5000px;"}
            %input{name: "b_e92d94da6f54f53f01adb5c5f_4e622e14de", type: "text", value: ""}/
          .clear
            %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "Houd me op de hoogte"}/
      / End mc_embed_signup
.container
  = partial 'features'

.container
  = partial 'pricing'